body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(2 6 23);
  color: white;
}
.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.profile-card {
  width: 600px;
  height: auto;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.profile-card_wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.profile-card_section {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: center;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 60%;
  margin-top: 30%;
}
.profile-name, .profile-surname, .profile-description{
  width: 150px;
  height: 32px;
}
@font-face {
  font-family: 'Zanesennyj';
  src: url('./fonts/Zanesennyj.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Merry-christmas-flake';
  src: url('./fonts/Merry-christmas-flake.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
